/* The Button */
.js-open-trelabels-menu.active {
  background: rgba(0, 0, 0, 0.1);
}

.js-open-trelabels-menu.active:hover {
  background: rgba(0, 0, 0, 0.2);
}

/* The Pop-Over */
.pop-over-list li>a.active {
  background-color: #eee;
}

.pop-over-list li>a.active:hover {
  background-color: #298fca;
}

/* The Tags Style */
.trelabels-tag .list-card-details {
  padding-top: 0;
}

.trelabels-tag .list-card-labels {
  position: relative;
}

.trelabels-tag .list-card-labels .card-label {
  height: inherit;
  line-height: 1;
  width: inherit;
  padding: 2px 4px;
  border-radius: 3px;
  margin: 6px 2px 1px 0;
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
}

/* The Lines Style */
.trelabels-line .list-card-details {
  padding-top: 0;
}

.trelabels-line .list-card-labels {
  position: relative;
  margin: 8px 0 1px 0;
}

.trelabels-line .list-card-labels .card-label {
  float: none;
  display: block;
  height: inherit;
  line-height: 1;
  width: inherit;
  padding: 2px 4px;
  border-radius: 3px;
  margin: 0 0 2px 0;
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
}

/* The Stickers Style */
.trelabels-sticker .list-card-labels {
  /*margin: -2px 0;*/
}

.trelabels-sticker .list-card-labels .card-label {
  border-radius: 50%;
  height: 8px;
  width: 8px;
}

/* The Tabs Style */
.trelabels-tab .list-card-labels {
  position: absolute;
  margin: 0;
  top: -1px;
}

.trelabels-tab .list-card-labels .card-label {
  border-radius: 0 0 5px 5px;
  height: 5px;
  width: 20px;
}
