/* The Pop-Over */
.pop-over-list li>a.active {
  background-color: rgba(9,30,66,.08);
}

.pop-over-list li>a.active:hover {
  background-color: rgba(9,30,66,.04);
}

/* The Button */
.trelabels-btn {
  border-radius: 3px;
  border: 0;
  cursor: pointer;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Noto Sans,Ubuntu,Droid Sans,Helvetica Neue,sans-serif;
  text-decoration: none;
  align-items: center;
  background-color: hsla(0, 0%, 100%, .3);
  box-shadow: none;
  color: #fff;
  display: flex;
  font-weight: 700;
  height: 32px;
  line-height: 32px;
  margin: 0 4px 0 0;
  padding: 0;
  transition: .1s ease;
  white-space: nowrap;
}

.trelabels-btn:focus, .trelabels-btn:hover {
  background-color: hsla(0, 0%, 100%, .2);
  box-shadow: none;
  color: #fff;
}

.trelabels-btn.active {
  background-color: hsla(0, 0%, 100%, .1);
}

.trelabels-btn.active:hover {
  background-color: hsla(0, 0%, 100%, .2);
}

.trelabels-btn-icon {
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
  display: inline-block;
  font-family: trellicons;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  height: 32px;
  line-height: 1;
  line-height: 32px;
  text-align: center;
  text-decoration: none;
  vertical-align: bottom;
  width: 32px;
  -webkit-font-smoothing: antialiased;
}

.trelabels-btn-icon:before {
    content: "\e93f";
}

/* The Labels */
.trelabels-enabled .list-card-labels .card-label {
  pointer-events: none;
}

/* The Lines Style */
.trelabels-line .list-card-labels {
  margin: 0;
}

.trelabels-line .list-card-labels .card-label {
  border-radius: 3px;
  display: block;
  float: none;
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
  height: inherit;
  line-height: 1;
  margin: 0 0 3px 0;
  max-width: 100%;
  padding: 2px 4px;
  text-align: left;
  text-shadow: 0 0 2px hsla(0, 0%, 0%, .3);
  width: inherit;
}

.trelabels-line .list-card-labels .label-text {
  display: initial !important;
}

/* The Stickers Style */
.trelabels-sticker .list-card-labels .card-label {
  border-radius: 50%;
  height: 8px;
  margin: 0 4px 2px 0;
  max-height: 8px;
  max-width: 8px;
  min-height: 8px;
  min-width: 8px;
  width: 8px;
}

/* The Tabs Style */
.trelabels-tab .list-card-labels {
  margin: 0;
  top: -6px;
}

.trelabels-tab .list-card-labels .card-label {
  border-radius: 0 0 5px 5px;
  height: 4px;
  margin: 0 4px 0 0;
  min-width: 10px;
  width: 10px;
}

/* The Tags Style */
.trelabels-tag .list-card-labels {
  margin: 0;
}

.trelabels-tag .list-card-labels .card-label {
  border-radius: 3px;
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
  height: inherit;
  line-height: 1;
  margin: 0 2px 3px 0;
  max-width: 230px;
  min-width: inherit;
  padding: 2px 4px;
  text-shadow: 0 0 2px hsla(0, 0%, 0%, .3);
  width: inherit;
}

.trelabels-tag .list-card-labels .label-text {
  display: initial !important;
}
